<div role="main" class="wrapper-single">
    <h1>Edit Admin</h1>

    <form action="/admins/<%= @admin.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <label for="admin[name]">Name: </label>
        <input type="text" name="admin[name]" value="<%= @admin.name %>">
        
        <label for="admin[campus]">Campus: </label>
        <input type="text" name="admin[campus]"  value="<%= @admin.campus %>">
        
        <label for="admin[email]">Email: </label>
        <input type="text" name="admin[email]"  value="<%= @admin.email %>">
        
        <input class="submit" type="submit" value="Submit" id="submit">
    </form>
</div>