<div class="wrapper-single">
    <h2>Log In:</h2>

    <form action="/login" method="POST">
        <label for="email">Email: </label><br>
        <input type="text" name="email"><br>
        <label for="password">Password: </label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Log In">
    </form>
    <br>
</div>
<div class="wrapper-single">
    <h2>Sign Up:</h2>

    <form action="/signup" method="POST">
        <label for="name">Name: </label><br>
        <input type="text" name="name"><br>
        <label for="campus">Campus: </label><br>
        <input type="text" name="campus"><br>
        <label for="email">Email: </label><br>
        <input type="text" name="email"><br>
        <label for="password">Password: </label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Sign Up">
    </form>
</div>