<div role="main" class="wrapper-single">
    <h2>Log In:</h2>

    <form action="/login" method="POST">
        <label for="email">Email: </label>
        <input type="text" name="email">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <input class="submit" type="submit" value="Log In">
    </form>
    
</div>
<div role="complementary" class="wrapper-single">
    <h2>Sign Up:</h2>

    <form action="/signup" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="campus">Campus: </label>
        <input type="text" name="campus">
        <label for="email">Email: </label>
        <input type="text" name="email">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <input class="submit" type="submit" value="Sign Up">
    </form>
</div>