<h1><%= @admin.name %></h1>

<div>
    <%= @admin.email %>
</div>
<br>
<hr>
<br>
<form method="post" action="/admins/<%= @admin.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE ADMIN">
</form>