<div class="wrapper">
    <h1>Students</h1>

    <% Student.all.each do |s| %>
    <div>
        
            <div>
                <h3>
                    <a href="/students/<%= s.id %>">
                        <%= s.name %>
                    </a>
                </h3>
                <br>
                <br>
                <br>
                <br>
            </div>

    </div>
    <% end %>
    <br>
    <br>
    <a href="/students/new">
        <button>New Student</button>
    </a>
</div>