<div class="wrapper-single">
    <h1>New Student</h1>

    <form action="/students" method="POST">
        <label for="name">Student Name: </label>
        <input type="text" name="name">
        
        <label for="grade">Grade: </label>
        <input type="text" name="grade">
        
        <label for="email">Email: </label>
        <input type="text" name="email">
        
        <h3>Campus</h3>
        <% Admin.all.each do |a| %>
            <input type="radio" name="admin_id" id="<%= a.id %>" value="<%= a.id %>"><%= a.campus %></input><br>
        <% end %>
        <br>
        
        <input class="submit" type="submit" value="Submit" id="submit">
    </form>
</div>