<div class="wrapper">
    <h1>Teachers</h1>

    <% Teacher.all.each do |t| %>
    
    <div>
        <a href="/teachers/<%= t.id %>">
            <%= t.name %>
        </a>
        <br>
        <br>
        <br>
        <br>
    </div>
    <% end %>

    <a href="/teachers/new">
        <button>Add a New Teacher</button>
    </a>
</div>