<h1>Teachers</h1>

<% Teacher.all.each do |t| %>
<a href="/teachers/<%= t.id %>">
    <div>
        <%= t.name %>
        <br>
        <br>
    <div>
</a>
<% end %>

<a href="/teachers/new">
    <button>Add a New Teacher</button>
</a>