<h1>Welcome to Lesson Organizer!</h1>

<a href="/login"><button>Login</button></a>

<p>These buttons below will be moved behind login</p>
<a href="/teachers"><button>Teachers</button></a>
<a href="/students"><button>Students</button></a>