<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Organizer</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <div role="banner" class="wrapper">
        <h1 class="big">Lesson Organizer</h1>
        <div>
        </div>
        <div class="notification c">
            <%= user_notification %>
            <br>
            <a href="/admins/home"><button>Home</button></a>
            <a href="/logout"><button>Log Out</button></a>
        </div>
    </div>
        <%= yield %>

    <div class="wrapper">
        <footer class="branding">
            <small>&copy; 2021 <strong>Lesson Organizer</strong></small>
        </footer>    
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>

</html>