<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Organizer</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <div class="wrapper">
        <div class="notification">
            <%= user_notification %>
            <br>
            <a href="/success"><button>Home</button></a>
            <a href="/logout"><button>Log Out</button></a>
        </div>
        <%= yield %>

        <footer class="branding">
            <small>&copy; 2021 <strong>Lesson Organizer</strong></small>
        </footer>    
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>

</html>